<%@ taglib prefix="shiro" uri="http://shiro.apache.org/tags" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
#foreach($column in $columns)
#if($column.isQuery == 'YES')
                        <div class="layui-inline">
                            <label class="layui-form-label">${column.comments}</label>
                            <div class="layui-input-inline">
                                <input type="text" name="${column.attrname}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
#end
#end

                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div class="layui-btn-group">
            <shiro:hasPermission name="${classname}:save">
                <button class="layui-btn data-add-btn">添加</button>
            </shiro:hasPermission>
        </div>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <shiro:hasPermission name="${classname}:edit">
                <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            </shiro:hasPermission>
            <shiro:hasPermission name="${classname}:delete">
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            </shiro:hasPermission>
        </script>
    </div>
</div>

<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '<%=request.getContextPath()%>/${modelName}/${classname}/list',
            method:'post',
            cols: [[ //表头
#foreach($column in $columns)#if($column.isMenuShow == 'true' || !$column.isMenuShow)
{field: '${column.attrname}', title: '${column.comments}'},
#end
#end
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });

        // 监听添加操作
        $(".data-add-btn").on("click", function () {
            admin_show('添加','<%=request.getContextPath()%>/${modelName}/${classname}/save',500,600)
        });

        // 监听删除操作
        $(".data-delete-btn").on("click", function () {
            var checkStatus = table.checkStatus('currentTableId')
                , data = checkStatus.data;
            layer.alert(JSON.stringify(data));
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            // layer.alert(result, {
            //     title: '最终的搜索信息'
            // });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');
            return false;
        });


        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                admin_show('修改','<%=request.getContextPath()%>/${modelName}/${classname}/edit/'+data.${pk.attrname},500,600);
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么?', function (index) {
                    $.get("<%=request.getContextPath()%>/${modelName}/${classname}/delete/"+data.${pk.attrname},
                        function (data) {
                            layer.msg(data.msg);
                            location.reload();
                        },"json");
                    parent.location.reload();
                });
            }
        });
    });
</script>